/* Card Carousel */
.cards-carousel {
    --gutters: calc(3rem * .5);
    --container-width: calc(100% - var(--gutters));
    --grid-columns: 1;
    position: relative;
    display: grid;
    grid-auto-columns: calc(100% / var(--grid-columns));
    gap: 0;
    grid-auto-flow: column;
    padding: 1rem calc(calc(100vw - var(--container-width))/2) 2rem;
    list-style: none;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.cards-carousel {
    scrollbar-width: none;
}

.cards-carousel::-webkit-scrollbar {
    display: none;
}


@media (min-width: 576px) {

    .cards-carousel {
        --gutters: calc(6rem * .5);
        --grid-columns: 2;
    }
}


@media (min-width: 768px) {
    .cards-carousel {
        --grid-columns: 2;
    }
}

@media (min-width: 992px) {

    .cards-carousel {
        --container-width: calc(960px - var(--gutters));
        --grid-columns: 3;
    }
}

@media (min-width: 1200px) {

    .cards-carousel {
        --container-width: calc(1140px - var(--gutters));
        --grid-columns: 3;
    }
}

@media (min-width: 1400px) {

    .cards-carousel {
        --container-width: calc(1320px - var(--gutters));
        --grid-columns: 4;
    }
}